<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="name"><h3>Product Price Compare</h3></label>
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    name="name"
                    ngModel
                    required>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
      </form>
      <br><br>
      <div class="row">
        <div class="col-xs-12">
            <app-productdesc></app-productdesc>
        </div>
      </div>
    </div>
  </div>
  